body {
  font-size: large;
  margin: 0;
  background-color: #fdf9f9;
}

a {
  text-decoration: none;
  color: black;
}

label {
  display: block;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* navbar */

#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

ul {
  list-style-type: none;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

/* home */
#home {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-screen {
  display: flex;
  justify-content: center;
}

.welcome-title {
  font-size: 80px;
  display: flex;
  width: 60%;
}

/* about me */
#about-me {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.bio-image {
  width: 20%;
}

.bio-text {
  font-size: 20px;
  width: 70%;
}

/* projects */
#projects {
  height: 90vh;
  width: 100vw;
}
